inner-column {
  display: grid;
  gap: 40px;
  justify-items: center;
  margin-top: 20px;
}

roulette-module {
  display: grid;
  justify-items: center;
  justify-self: stretch;
  gap: 40px;
  position: relative;
}

numbers-grid {
  order: 2;
}

@media (min-width: 1050px) {
  roulette-module {
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.4fr;
    gap: 40px;
  }

  numbers-grid {
    order: unset;
  }
}

/*number chart*/
