/*@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*/
/* tourney-100 - latin */
@font-face {
  font-family: "Tourney";
  font-style: normal;
  font-weight: 100;
  src: local(""),
    url("../assets/fonts/tourney-v8-latin-100.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/tourney-v8-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tourney-200 - latin */
@font-face {
  font-family: "Tourney";
  font-style: normal;
  font-weight: 200;
  src: local(""),
    url("../assets/fonts/tourney-v8-latin-200.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/tourney-v8-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tourney-300 - latin */
@font-face {
  font-family: "Tourney";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../assets/fonts/tourney-v8-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/tourney-v8-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tourney-regular - latin */
@font-face {
  font-family: "Tourney";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../assets/fonts/tourney-v8-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/tourney-v8-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tourney-500 - latin */
@font-face {
  font-family: "Tourney";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../assets/fonts/tourney-v8-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/tourney-v8-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tourney-600 - latin */
@font-face {
  font-family: "Tourney";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../assets/fonts/tourney-v8-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/tourney-v8-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tourney-700 - latin */
@font-face {
  font-family: "Tourney";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../assets/fonts/tourney-v8-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/tourney-v8-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tourney-800 - latin */
@font-face {
  font-family: "Tourney";
  font-style: normal;
  font-weight: 800;
  src: local(""),
    url("../assets/fonts/tourney-v8-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/tourney-v8-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tourney-900 - latin */
@font-face {
  font-family: "Tourney";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    url("../assets/fonts/tourney-v8-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/tourney-v8-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tourney-100italic - latin */
@font-face {
  font-family: "Tourney";
  font-style: italic;
  font-weight: 100;
  src: local(""),
    url("../assets/fonts/tourney-v8-latin-100italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/tourney-v8-latin-100italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tourney-200italic - latin */
@font-face {
  font-family: "Tourney";
  font-style: italic;
  font-weight: 200;
  src: local(""),
    url("../assets/fonts/tourney-v8-latin-200italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/tourney-v8-latin-200italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tourney-300italic - latin */
@font-face {
  font-family: "Tourney";
  font-style: italic;
  font-weight: 300;
  src: local(""),
    url("../assets/fonts/tourney-v8-latin-300italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/tourney-v8-latin-300italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tourney-italic - latin */
@font-face {
  font-family: "Tourney";
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url("../assets/fonts/tourney-v8-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/tourney-v8-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tourney-500italic - latin */
@font-face {
  font-family: "Tourney";
  font-style: italic;
  font-weight: 500;
  src: local(""),
    url("../assets/fonts/tourney-v8-latin-500italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/tourney-v8-latin-500italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tourney-600italic - latin */
@font-face {
  font-family: "Tourney";
  font-style: italic;
  font-weight: 600;
  src: local(""),
    url("../assets/fonts/tourney-v8-latin-600italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/tourney-v8-latin-600italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tourney-700italic - latin */
@font-face {
  font-family: "Tourney";
  font-style: italic;
  font-weight: 700;
  src: local(""),
    url("../assets/fonts/tourney-v8-latin-700italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/tourney-v8-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tourney-800italic - latin */
@font-face {
  font-family: "Tourney";
  font-style: italic;
  font-weight: 800;
  src: local(""),
    url("../assets/fonts/tourney-v8-latin-800italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/tourney-v8-latin-800italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* tourney-900italic - latin */
@font-face {
  font-family: "Tourney";
  font-style: italic;
  font-weight: 900;
  src: local(""),
    url("../assets/fonts/tourney-v8-latin-900italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/tourney-v8-latin-900italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.title-voice {
}

.loud-voice {
  font-family: Tourney, sans-serif;
  font-size: 4rem;
  text-transform: capitalize;
}

.attention-voice span {
  font-family: Tourney, sans-serif;
  font-size: 5rem;
  text-transform: capitalize;
  color: white;
  font-style: italic;
}

@media (min-width: 1500px) {
  .attention-voice {
    font-size: clamp(1.25rem, calc(0.57rem + 3.41vw), 3rem);
  }
}

.notice-voice {
  font-family: Tourney, sans-serif-Medium, Tourney;
  font-size: 1rem;
  /*font-weight: 700;*/
}

.solid-voice {
  font-family: Tourney, sans-serif-Medium, Tourney;
  font-size: 20px;
  font-weight: 700;
}

.calm-voice,
p,
li {
  font-family: "Luckiest Guy", cursive;
  font-size: 24px;
  line-height: 1R;
  max-width: 700px;
}

:is(.calm-voice, p, li) em {
  font-style: italic;
}

:is(.calm-voice, p, li) strong {
  font-weight: 700;
}

.whisper-voice {
  font-family: Tourney, sans-serif-Medium, Tourney;
  font-size: 0.9rem;
  font-weight: 300;
  color: hsla(0, 0%, 44%, 1);
}

.teaser-voice {
  font-family: "Luckiest Guy", sans-serif;
  font-size: 14px;
  text-transform: capitalize;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
p + p {
  margin-top: 1em;
}

h2 + p {
  /*margin-top: 20px;*/
}

code {
  font-family: monospace;
  font-size: 1.1em;
  color: green;
}
